<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
{% extends 'customer/base.html'%}
{% load static %}
{% block content %}
<h1>Payment Details</h1>
<p>Amount: {{ order.amount }} PAISE</p>
<p>Order ID: {{ order.id }}</p>
<form id="payment-form" action="{% url 'payment_success' %}" method="post">
    {% csrf_token %}
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_WgA54Wq6eCJ2LU"
        data-amount="{{ order.amount }}"
        data-currency="INR"
        data-order_id="{{ order.id }}"
    ></script>
</form>
{% endblock %}
